<mat-card style="
margin: 10px;
">
    <mat-form-field appearance="standard">
        <mat-label>New task title</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <button *ngIf="title.length>0" mat-button [disabled]="title.length<4" (click)="add()">Add</button>
    <mat-list role="list">
        <mat-list-item *ngFor="let task of tasks">
            <mat-slide-toggle [(ngModel)]="task.completed">
                {{task.title}} - {{task.completed?"Done":"not done :("}}
                <button (click)="deleteTask(task)">Delete</button>
            </mat-slide-toggle>
        </mat-list-item>

    </mat-list>

</mat-card>